
<div class="main">
	<div class="form">
		<h1>See all your finances in one place</h1>

		<form action="/signup" method="post">
			<label for="email">Your Email</label><br>
			<input type="email" name="email"><br>

			<label for="confirm_email">Confirm Email</label><br>
			<input type="email" name="confirm_email"><br>

			<label for="phone">Phone (recommended)</label><br>
			<input type="tel" name="phone"><br>

			<label for="password">Password</label><br>
			<input type="password" name="password"><br>

			<label for="confirm_password">Confirm Password</label><br>
			<input type="password" name="confirm_password"><br>

			<input type="submit" name="submit" value="Send">
		</form>
			
	</div>

	<div class="right">
		<h4>Why you'll love it</h4>
		<ul>
			<li>See all your accounts in one place</li>
			<li>Find the best ways to grow your money</li>
			<li>Stay safe and secure</li>
		</ul>
	</div>
	
</div>